.promptr-backdrop{
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    background-color: #333;
}
.promptr-title{
    display: inline-block;
}

.promptr-prompt{
    z-index: 10001;
    position: relative;
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    background-color: #fff;
    color: #000;
}

.x {
    float: right;
    color: #000;
    position: relative;
    min-width: 10px;
    width: 10px;
    height: 10px;
    opacity: 0.3;
    border: solid #000 1px;
}

.x:hover{    
    opacity: 1;
    cursor: pointer;
}

/* .x:before, .x:after {
    position: absolute;
    left: 15px;
    height: 33px;
    width: 2px;
    background-color: #333;
    content: '-';
} */


.promptr-prompt .button-container{
    text-align: right;
}